/* Colors  */
$primary-color: #ffe600;
$secondary-color: #eeeeee;
$secondary-hover-color: #e0e0e0;
$text-color: #333333;
$gray-color: #666666;
$light-gray-color: #e6e6e6;
$white-color: #ffffff;
$green-color: #00a650;
$button-color: #3483fa;

/* Border */
$border-radius: 4px;

/* Shadow */
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);