@import '../../assets/styles/variables.scss';

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    padding: 10px;
}

.logo {
    margin-right: 20px;
}

.search-box {
    display: flex;
    flex-grow: 1;
    max-width: 800px;
    background-color: $white-color;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: $box-shadow;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    outline: none;
}

.search-button {
    background-color: $secondary-color;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;

    &:hover {
        background-color: $secondary-hover-color;
    }
}